#id01{
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color:  rgb(166, 166, 214);
}
#id02{
    color: rgb(1, 0, 0);
    font-size: 25px;
    background-color:  rgb(166, 166, 214);
}
#id03{
    color: rgb(0, 0, 0);
    font-size: 25px;
    background-color: rgb(166, 166, 214);
}
.paragraph {
    color: rgb(13, 13, 84);
    font-size: 20px;
    background-color: rgb(213, 213, 213);
}